img {
  height: 50px;
  width: 50px;
}

.links {
  color: black;
  text-decoration: none;
}

.shortcutDesc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin-top: 5%;
  font-weight: bold;
  color: rgb(90, 89, 89);
}
